.body{
    font-family: Arial, sans-serif;
     background-color: #fafafa;
      margin: 0; padding: 0;}

.header{
    background-color: #003366;
     color: rgb(255, 255, 255);
      padding: 20px;
       text-align: center;}

.main{padding: 20px;}

.programação{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)}

.programa{
    display: flex;
     justify-content: space-between;
      padding: 10px 0;
       border-bottom: 1px solid#ddd;}

.programa:last-child {border-bottom: none;}

.hora {font-weight: bold;
  color: #003366;}

.titulo {color: #333;}

.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100% ;}