.body{font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;}

.header{background-color: #003366; color: white; padding: 20px; text-align: center;}

.main{padding: 20px;}

.programação{background-color: #ffffff;border-radius: 8px;padding: 15px;box-shadow: 0 0 10px rgba( green, blue, alpha)}

.programa{display: flex; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid#ddd;}

.programa